/** ===========================================================================
 *
 * 10. Buttons
 *
 * ========================================================================= */

.bb-button {
    border: 1px solid $bb-primary;
    padding: 0.75rem 3.5rem 0.75rem 2rem;

    @extend .bb-small-text;
    @include bb-round(10rem);

    &:after {
        content: '\f10b';
        right: 0;
        margin-right: 2rem;

        @extend .bb-center-v;
        @extend .bb-ionicons;
    }

    &:hover {
        border-color: $bb-black-85;
    }
}
