<footer class="bb-footer">
    <section>
        <div class="bb-container">
            <ul class="no-bullet menu bb-menu bb-divided bb-footer-links">
                <li><a href="#">Footer Link 1</a></li>
                <li><a href="#">Footer Link 2</a></li>
                <li><a href="#">Footer Link 3</a></li>
            </ul>
        </div> <!-- end .bb-container -->
    </section>

    <section>
        <div class="bb-footer-secondary">
            <div class="bb-container">
                <div class="grid-x grid-margin-x grid-padding-y align-middle">
                    <div class="cell large-shrink small-auto">
                        <img src="{{root}}assets/img/logo.svg" alt="Adi Purdila Logo" />
                    </div> <!-- end .cell -->

                    <div class="cell large-shrink small-auto">
                        <p><small>&copy; 2017 Droppin' Knowledge.</small></p>
                    </div> <!-- end .cell -->

                    <div class="cell auto">
                        <ul class="no-bullet menu align-right" id="bb-social-icons">
                            <li><a href="#" class="bb-button-icon"><i class="icon ion-android-mail"></i></a></li>
                            <li><a href="#" class="bb-button-icon"><i class="icon ion-android-globe"></i></a></li>
                            <li><a href="#" class="bb-button-icon"><i class="icon ion-social-twitter"></i></a></li>
                            <li><a href="#" class="bb-button-icon"><i class="icon ion-social-facebook"></i></a></li>
                            <li><a href="#" class="bb-button-icon"><i class="icon ion-social-linkedin"></i></a></li>
                        </ul>
                    </div> <!-- end .cell -->
                </div> <!-- end .grid-x -->
            </div> <!-- end .bb-container -->
        </div> <!-- end .bb-footer-secondary -->
    </section>
</footer>