{{#ifpage 'changelog'}}
    <li><a href="#changelog-1">Version 1.2</a></li>
    <li><a href="#changelog-2">Version 1.1</a></li>
    <li><a href="#changelog-3">Version 1.0 - Initial release</a></li>
{{/ifpage}}


<!-- USER GUIDE TEMPLATES INTERNAL MENUS -->


{{#ifequal doc-domain 'introduction'}}
<li><a href="#introduction-1">What is WordPress?</a></li>
<li><a href="#introduction-2">Why WordPress?</a></li>
<li><a href="#introduction-3">What is a WordPress theme?</a></li>
{{/ifequal}}


{{#ifpage 'login'}}
<li><a href="#introduction-1">Login URL</a></li>
<li><a href="#introduction-2">Username and Password</a></li>
{{/ifpage}}


{{#ifpage 'dashboard'}}
<li><a href="#dashboard-1">Default Dashboard</a></li>
<li><a href="#dashboard-2">Custom Dashboard</a></li>
{{/ifpage}}

{{#ifpage 'manage-users'}}
<li><a href="#section-1">User Basics</a></li>
<li><a href="#section-2">User Roles</a></li>
{{/ifpage}}

{{#ifpage 'manage-pages'}}
<li><a href="#section-1">Page Overview</a></li>
<li><a href="#section-2">Page Basics</a></li>
{{/ifpage}}

{{#ifpage 'manage-posts'}}
<li><a href="#section-1">Post Overview</a></li>
<li><a href="#section-2">Post Basics</a></li>
{{/ifpage}}

{{#ifpage 'manage-other'}}
<li><a href="#section-1">Menus</a></li>
<li><a href="#section-2">Sidebars + Widgets</a></li>
{{/ifpage}}


{{#ifpage 'custom-fields'}}
<li><a href="#section-1">Custom Fields for Page Template 1</a></li>
<li><a href="#section-2">Custom Fields for Page Template 2</a></li>
<li><a href="#section-3">Custom Fields for Posts</a></li>
{{/ifpage}}

{{#ifpage 'custom-post-types'}}
<li><a href="#section-1">Custom Post Type 1</a></li>
<li><a href="#section-2">Custom Post Type 2</a></li>
<li><a href="#section-3">Custom Post Type 3</a></li>
{{/ifpage}}

{{#ifpage 'custom-modules'}}
<li><a href="#section-1">Custom Module 1</a></li>
<li><a href="#section-2">Custom Module Type 2</a></li>
<li><a href="#section-3">Custom Module Type 3</a></li>
{{/ifpage}}

{{#ifpage 'theme-settings'}}
<li><a href="#section-1">General Theme Settings</a></li>
<li><a href="#section-2">Header Settings</a></li>
<li><a href="#section-3">Footer Settings</a></li>
{{/ifpage}}

{{#ifpage 'plugins'}}
<li><a href="#section-1">Plugin Overview</a></li>
<li><a href="#section-2">Plugin Example 1</a></li>
<li><a href="#section-3">Plugin Example 2</a></li>
{{/ifpage}}


<!-- DEV TEMPLATES INTERNAL MENUS -->

{{#ifequal doc-domain 'dev-intro'}}
<li><a href="#introduction-1">Tech Stack</a></li>
<li><a href="#introduction-2">Getting Started</a></li>
<li><a href="#introduction-3">File Structure</a></li>
{{/ifequal}}


