<li {{#ifequal doc-domain 'dev-intro'}} class="is-active" {{/ifequal}}><a href="{{root}}guide/introduction.html">Introduction</a></li>
<li><a href="#">Page Templates</a></li>
<li>
    <a href="#">Custom Functionality</a>
    <ul class="vertical menu">
           <li><a href="{{root}}guide/basics/manage-users.html">Functions</a></li> 
           <li><a href="{{root}}guide/basics/manage-pages.html">JS Libraries</a></li>
           <li><a href="{{root}}guide/basics/manage-pages.html">Plugins</a></li>
    </ul>
</li>
<li>
    <a href="#">ACF</a>
    <ul class="vertical menu">
           <li><a href="{{root}}guide/basics/manage-users.html">Page and Post Fields</a></li> 
           <li><a href="{{root}}guide/basics/manage-pages.html">Modules</a></li>
           <li><a href="{{root}}guide/basics/manage-pages.html">Settings</a></li>
    </ul>
</li>