<div class="top-bar">
	<div class="top-bar-left clearfix align-middle">
		<div class="bb-hamburger-container">
			<a href="#" class="bb-button-icon bb-small show-for-small hide-for-large" data-open="offCanvas"><i class="icon ion-navicon-round"></i></a>
		</div> <!-- end .bb-hamburger-container -->
		<a href="{{root}}index.html" id="bb-top-logo" ><img src="{{root}}assets/img/logo.svg" alt="Logo"></a>
		<span class="bb-flex-filler"></span>
	</div> <!-- end .top-bar-left -->
	<div class="top-bar-right">
		<nav>
			<ul class="menu bb-menu">
				{{> nav-main}}
			</ul>
		</nav>
	</div> <!-- end .top-bar-right -->
</div> <!-- end .top-bar -->